.header-cont {
	width:100%;
	position:fixed;
	top:0px;
}

header	{
	text-align: center;
	margin: 0px auto;
	height: 100px;
	width: 100%;
	position: fixed;
	background-color: yellow;
}

.text-wrapper {
	margin-top: 100px;
	/* overflow: hidden; */
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

footer {
	text-align: center;
}


.menu {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #f3f3f3 ;
   position: fixed;
   top: 0;
   width: 100%;
}
.menu li {
   float: left;
}
.menu b {
 font-size: 150%;
 padding: 50px;
}
.menu li a {
   display: block;
   color: #666;
   text-align: center;
   padding: 16px 20px;
   text-decoration: none;
}

.menu li a:hover:not(.menu) {
   background-color: #ddd;
}

.menu li a.menu {
   color: white;
   background-color: #3399ff ;
}

.content {
    padding-top: 100px;
    margin-top: -100px;
}