.header-cont {
	width:100%;
	position:fixed;
	top:0px;
}

header	{
	text-align: center;
	margin: 0px auto;
	height: 100px;
	width: 100%;
	position: fixed;
	background-color: yellow;
}

.text-wrapper {
	margin-top: 100px;
	/* overflow: hidden; */
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

footer {
	text-align: center;
}
