@import url('https://fonts.googleapis.com/css?family=Chelsea+Market');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
/* style header */
h1{
  font-family: 'Chelsea Market', cursive;
  text-align: center;
  padding-bottom: 30px;
  font-size: 3.5em;
}

nav {
  text-align: center;
  font-size: 1em;
  font-family: 'Chelsea Market', cursive;

}

nav a {
  color: black;
  text-decoration: none;
  padding: 20px;
}

.names {
  font-size: 1em;
  font-family: 'Chelsea Market', cursive;
  text-align: center;
  padding-top: 30px;
}

section {
  text-align: center;
  margin: 30px;
}

section h2 {
  padding: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
}

/* end of stlying header */

/* stlye footer */
footer {
  width: 80%;
  background-color: #AEA8D3;
  margin-left: auto;
  margin-right: auto;
}

footer p {
  font-size: 1.5em;
  padding: 10px 0 10px 30px;
  color: white;
  font-family: 'Chelsea Market', cursive;
}
